In [29]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\vedan\anaconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\vedan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\vedan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\vedan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\vedan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\vedan\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\vedan\anaconda3\lib\site-packages)

In [30]:
import pandas as pd
from kafka import KafkaConsumer, KafkaProducer
from time import sleep
from json import dumps
import json

In [37]:
producer = KafkaProducer(bootstrap_servers=['13.232.93.230:9092'], 
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [35]:
producer.send('test_demo', value={'surnasdasdame':'parasdasdmar'})

In [12]:
df = pd.read_csv("C:/Users/vedan/Kafka Project/indexProcessed.csv")

In [13]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [24]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
3622,HSI,2001-08-23,11259.01953,11370.08008,11220.11035,11345.37988,11345.37988,215469200.0,1474.899384

In [39]:
producer.flush()

In [42]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('test_demo', value=dict_stock)
    sleep(1)

KeyboardInterrupt: